$kai-color-Initials-blue:  #4F6BED;
$kai-color-Initials-yellow:  #FABE14;
$kai-color-Initials-red: #A4262C;
$kai-color-Initials-green: #038387;
$kai-color-Initials-lightGreen: #8CBD18;

$kai-font-size: 10px;
$kai-font-weight-bold: bold;
$kai-font-weight-normal: normal;

$kai-size-Initials-medium: 17px;
$kai-size-Initials-small: 13px;
$kai-size-Initials-extraSmall: 8px;

$kai-size-Persona-image-medium: 50px;
$kai-size-Persona-image-small: 32px;
$kai-size-Persona-image-extraSmall: 20px;

$kai-size-Persona-medium: calc(#{$kai-size-Persona-image-medium} + 2px);
$kai-size-Persona-small: calc(#{$kai-size-Persona-image-small} + 2px);
$kai-size-Persona-extraSmall: calc(#{$kai-size-Persona-image-extraSmall} + 2px);

$kai-size-lineh-multi-Persona-medium: calc(#{$kai-size-Persona-image-medium} - 3px);
$kai-size-lineh-multi-Persona-small: calc(#{$kai-size-Persona-image-small} - 3px);
$kai-size-lineh-multi-Persona-extraSmall: calc(#{$kai-size-Persona-image-extraSmall} - 3px);

$kai-size-Persona-badge-medium: 15.2px;
$kai-size-Persona-badge-small: 11px;
$kai-size-Persona-badge-extraSmall: 8px;

$kai-size-unknown-imageheight-medium: 28px;
$kai-size-unknown-imageheight-small: 18px;
$kai-size-unknown-imageheight-extraSmall: 10px;

$kai-size-unknown-imagewidth-medium: 22px;
$kai-size-unknown-imagewidth-small: 14px;
$kai-size-unknown-imagewidth-extraSmall: 8px;

$kai-color-white: #FFFFFF;
$kai-color-navyblue: #0078D4;

$kai-border-color: $kai-color-white;
