@import '../../globals/tempVariable.scss';

.image {
    border-radius: $thumbnail_border $thumbnail_border 0px 0px;
}

.Medium {
    height: $medium_height;
    width: $medium_width;
}

.List {
    width: $list_width;
    height: $list_height;
}

.Grid {
    width: $grid_width;
    height: $grid_height;
}