//styles for message component
$message_padding:8px;
$border_radius:6px;
$top_spacing:32px;
$message_text_line_height:20px;
$message_time_line_height:18px;
$separator_height:10px;
$separator_width:10px;

$border_width:(1.5px, 1px);
/** radio button and checkbox variables*/
$radioButton_width:16px;
$radio-btn-width:16px;
$radio-btn-height:16px;
$radioButton_height:16px;
$radioButtonInner_width:10px;
$radioButtonInner_height:10px;

/**tabBar variables*/
$tabBar_height:30px;
$tabBar_fontSize:14px;
$tabBar_lineHeight:19px;
$tabBar_fontSizeLarge:18px;

/**icon Button variables*/
$iconButton_height: 62px;
$iconButton_width: 62px;
$iconButton_borderRadius:6px;
$iconButtonNotification_height:9px;
$iconButtonNotification_width:9px;
$iconButtonNotification_border:2px;

/*counter variables*/
$counter_width:20px;
$counter_height:20px;
$counter_borderRadius:3px;
$counterInner_width:8px;
$counterInner_height:18px;
$counter_fontSize:13px;

$notification_border:#F2F2F2;
$radioButton_disable:#e6e6e6;
$radioButton_disableTick:#7b7b7b;

//styles for header component
$header_height:30px;
$header_width: 240px;
$header_line_height: 26px;

$font_family:'Noto Sans';
$font_style:normal;
$font_weight:500;

//styles for news thumbnail
$medium_height:70px;
$medium_width:224px;
$list_height:46px;
$list_width:52px;
$grid_height:52px;
$grid_width:108px;
$thumbnail_border:6px;


$border-width:(1.5px, 1px);
/** radio button and checkbox variables*/
$radio-btn-width:16px;
$radio-btn-height:16px;
$radio-btn-inner-width:10px;
$radio-btn-inner-height:10px;

/**tabBar variables*/
$tabBar-height:30px;
$tabBar-font-size:14px;
$tabBar-line-height:19px;
$tabBar-font-size-large:18px;


/*counter variables*/
$counter-width:20px;
$counter-height:20px;
$counter-border-radius:3px;
$counter-inner-width:8px;
$counter-inner-height:18px;
$counter-font-size:13px;

$notification_border:#F2F2F2;
$radio-btn-disable:#e6e6e6;
$radio-btn-disable-tick:#7b7b7b;

$font_family:'Noto Sans';
$font_style:normal;
$font_weight:500;

:export {
    tabBar-font-size-large: $tabBar-font-size-large;
}

:export {
    tabBar_fontSizeLarge: $tabBar_fontSizeLarge;
}