$white-color: #fcf5ed;
$dark-color: #402f2b;
$light-color: #e6d5c3;
$medium-color: #977978;
$alert-color: #cb492a;
$light-black-color: #706e72;
$black-color: #414042;
$sizes: (1rem, 3rem);
$header-height: nth($sizes, 1);

//figma colors

$Communication_Blue_Comm_Primary_0078D4: #0078d4;
$Neutrals_White_FFFFFF: #ffffff;
$Neutrals_Mobile_Black_000000: #000000;
$Message_Mobile_Danger_Light_Primary: #d92c2c;
$Neutrals_Mobile_Gray_50_F1F1F1: #f1f1f1;
$Neutrals_Mobile_Gray_700_303030: #303030;
$Communication_Blue_Comm_shade_30_004578: #004578;
$Neutrals_Mobile_Gray_900_212121: #c5afaf;
$Neutrals_Mobile_Gray_500_6E6E6E: #6e6e6e;
$Neutrals_Mobile_Gray_200_C8C8C8:#c8c8c8;

//figma font sizes
$font_size: (13px, 15px, 17px);

//figma font weights
$font_weights: (400, 700);

//figma line heights
$line_heights: (1.305098114013672, 1.365333251953125, 1.312820587158203);

//figma font family
$font_family: Noto Sans;

// the :export directive is the magic sauce for webpack
:export {
    whitecolor: $white-color;
    darkcolor: $dark-color;
    lightcolor: $light-color;
    mediumcolor: $medium-color;
    alertcolor: $alert-color;
    lightblackcolor: $light-black-color;
    blackcolor: $black-color;
    headerHeight: $header-height;

    //figma colors
    colors: {
        communication_blue_comm_primary_0078d4: #0078d4;
        neutrals_white_ffffff: #ffffff;
        neutrals_mobile_black_000000: #000000;
        communication_blue_comm_primary_0078d4: #0078d4;
        message_mobile_danger_light_primary: #d92c2c;
        neutrals_mobile_gray_50_f1f1f1: #f1f1f1;
        neutrals_mobile_gray_700_303030: #303030;
        communication_blue_comm_shade_30_004578: #004578;
        neutrals_mobile_gray_900_212121: #212121;
        neutrals_mobile_gray_500_6e6e6e: #6e6e6e;
        neutrals_mobile_black_000000: #000000;
        neutrals_white_ffffff: #ffffff;
    }

    //figma fonts
    textstyles: {
        bold_17px: {
            fontfamily: $font_family;
            fontweight: nth($font_weights, 2);
            fontsize: nth($font_size, 3);
            lineheight: nth($line_heights, 1);
        }

        bold_15px: {
            fontfamily: $font_family;
            fontweight: nth($font_weights, 2);
            fontsize: nth($font_size, 2);
            lineheight: nth($line_heights, 2);
        }

        regular_15px: {
            fontfamily: $font_family;
            fontweight: nth($font_weights, 1);
            fontsize: nth($font_size, 2);
            lineheight: nth($line_heights, 2);
        }

        regular_13px: {
            fontfamily: $font_family;
            fontweight: nth($font_weights, 1);
            fontsize: nth($font_size, 1);
            lineheight: nth($line_heights, 3);
        }
    }

    fonts: $font_family;
    font-weights: $font_weights;
    font_size:$font_size;
    line_heights:$line_heights;
}