@import "../data/PersonaStylesVariables.scss";

.initials {
    color: $kai-border-color;
    font-size: $kai-size-Initials-medium;
    font-weight: $kai-font-weight-bold;
    line-height: $kai-size-Persona-medium;
	height: $kai-size-Persona-medium;
	text-transform: uppercase;

    &.initialsIsblue {
        background-color: $kai-color-Initials-blue;
    }
    &.initialsIslightGreen {
        background-color: $kai-color-Initials-lightGreen;
    }
    &.initialsIsgreen {
        background-color: $kai-color-Initials-green;
    }
    &.initialsIsred {
        background-color: $kai-color-Initials-red;
	}
	&.initialsIsyellow {
        background-color: $kai-color-Initials-yellow;
	}
	&.multiImageContainer{
		line-height: $kai-size-lineh-multi-Persona-medium;
	}
}
.root {
    color: $kai-border-color;
    font-size: $kai-size-Initials-medium;
    font-weight: $kai-font-weight-bold;
    position: relative;
    height: $kai-size-Persona-medium;
    display: flex;
    align-items: center;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.imageArea {
    position: relative;
    overflow: hidden;
	text-align: center;
    flex: 0 0 $kai-size-Persona-medium;
    height: $kai-size-Persona-medium;
    width: $kai-size-Persona-medium;
    .initials {
		border-radius: 50%;
		border: 1px solid $kai-border-color;
    }
    .image {
		border: 1px solid $kai-border-color;
	}
}
.icon{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.badge{
	position: absolute;
	z-index: 1;
	right: 3.5%;
	bottom: 1.5%;
	width: 100%;
    height: 100%;
}
%multiImageDefaultStyle{
	position: absolute;
	width: calc(100% - 7px)!important;
	height: calc(100% - 7px)!important;
	border-radius: 50%;
	border: 1px solid $kai-border-color;
}
.backDiv{
	@extend %multiImageDefaultStyle;
	background-color: $kai-color-navyblue;
}

.multiImageContainer{
	@extend %multiImageDefaultStyle;
	top: 10%;
	left: 10%;
	bottom: 0;
	right: 0;
	z-index: 1;
	overflow: hidden;
	background-color: $kai-border-color;

	:first-child {
		top: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
	}
}

.groupImageWrapper{
	background-color:$kai-border-color;
	img{
		max-height:100%;
		max-width:100%;
		display:block;
	}
}

%groupContainerDefault{
	position: relative;
	border-radius: 50%;
	left: 0;
	top: 0;
	background-color: $kai-border-color;
	overflow: hidden;
	border: 1px solid $kai-border-color;
}

.groupContainerFour{
	@extend %groupContainerDefault;
	%quarterImage{
		position: absolute;
		height: 50%;
		width: 50%;
	}
	:first-child.groupImageWrapper {
		@extend %quarterImage;
		left:50%;
		top:0%;
	}
	:nth-child(2).groupImageWrapper {
		@extend %quarterImage;
		left:50%;
		top:50%;
		img{
		border-top:1px solid $kai-border-color;
		}
	}
	:nth-child(3).groupImageWrapper {
		@extend %quarterImage;
		right:50%;
		top:50%;
		img{
			border-top:1px solid $kai-border-color;
			border-right:1px solid $kai-border-color;
		}

	}
	:nth-child(4).groupImageWrapper {
		@extend %quarterImage;
		right:50%;
		top:0%;
		img{
			border-right:1px solid $kai-border-color;
		}

	}
}

.groupContainerThree{
	@extend %groupContainerDefault;

	:nth-child(2),:nth-child(3){
		position: absolute;
		height: 50%;
		width: 50%;
		right: 50%;
	}
	:first-child.groupImageWrapper {
		position: absolute;
		height: 100%;
		width: 100%;
		left:25%;
	}
	:nth-child(2).groupImageWrapper {
		img{
			border-right: 1px solid $kai-border-color;
		}
	}
	:nth-child(3).groupImageWrapper {
		top: 50%;
		img{
			border-top: 1px solid $kai-border-color;
			border-right: 1px solid $kai-border-color;
		}
	}
}
.groupContainerTwo{
	@extend %groupContainerDefault;

	%fullImage{
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	:first-child.groupImageWrapper {
		@extend %fullImage;
		left:25%;
	}
	:nth-child(2).groupImageWrapper {
		@extend %fullImage;
		right: 50%;
		position: relative;
		border-right: 1px solid $kai-border-color;
		img{
			left:25%;
			position:absolute;
		}
	}
}
.groupContainerOne{
	@extend %groupContainerDefault;
	position: static;

	:first-child.groupImageWrapper {
		height: 100%;
		width: 100%;
	}
}

.image[src=''] {
    display: none;
}

.root.rootIsExtraSmall {
    height: $kai-size-Persona-extraSmall;
    min-width: $kai-size-Persona-extraSmall;

    .imageArea{
		flex: 0 0 $kai-size-Persona-extraSmall;
        height: $kai-size-Persona-extraSmall;
        width: $kai-size-Persona-extraSmall;
	}
    .image {
        flex: 0 0 $kai-size-Persona-extraSmall;
        height: $kai-size-Persona-image-extraSmall;
        width: $kai-size-Persona-image-extraSmall;
	}
	.badge{
		height: $kai-size-Persona-badge-extraSmall;
        width: $kai-size-Persona-badge-extraSmall;
	}
    .initials {
        font-size: $kai-size-Initials-extraSmall;
        height: $kai-size-Persona-image-extraSmall;
		line-height: $kai-size-Persona-image-extraSmall;
		&.multiImageContainer{
			line-height: $kai-size-lineh-multi-Persona-extraSmall;
		}
		.icon{
			height: $kai-size-unknown-imageheight-extraSmall;
			width: $kai-size-unknown-imagewidth-extraSmall;
		}
	}
	.groupContainerOne, .groupContainerTwo, .groupContainerThree, .groupContainerFour{
		height: $kai-size-Persona-image-extraSmall;
		width: $kai-size-Persona-image-extraSmall;
	}
}

.root.rootIsSmall {
    height: $kai-size-Persona-small;
    min-width: $kai-size-Persona-small;

    .imageArea{
		flex: 0 0 $kai-size-Persona-small;
        height: $kai-size-Persona-small;
        width: $kai-size-Persona-small;
	}
    .image {
        flex: 0 0 $kai-size-Persona-small;
        height: $kai-size-Persona-image-small;
        width: $kai-size-Persona-image-small;
    }

	.badge{
		height: $kai-size-Persona-badge-small;
        width: $kai-size-Persona-badge-small;
	}

    .initials {
        font-size: $kai-size-Initials-small;
        height: $kai-size-Persona-image-small;
		line-height: $kai-size-Persona-image-small;

		&.multiImageContainer{
			line-height: $kai-size-lineh-multi-Persona-small;
		}

		.icon{
			height: $kai-size-unknown-imageheight-small;
			line-height: $kai-size-unknown-imageheight-small;
		}
	}
	.groupContainerOne, .groupContainerTwo, .groupContainerThree, .groupContainerFour{
		height: $kai-size-Persona-image-small;
		width: $kai-size-Persona-image-small;
	}
}

.root.rootIsMedium {
    height: $kai-size-Persona-medium;
    min-width: $kai-size-Persona-medium;

    .imageArea{
		flex: 0 0 $kai-size-Persona-medium;
        height: $kai-size-Persona-medium;
        width: $kai-size-Persona-medium;
	}
    .image {
        flex: 0 0 $kai-size-Persona-medium;
        height: $kai-size-Persona-image-medium;
        width: $kai-size-Persona-image-medium;
    }

	.badge{
		height: $kai-size-Persona-badge-medium;
        width: $kai-size-Persona-badge-medium;
	}
    .initials {
        font-size: $kai-size-Initials-medium;
        height: $kai-size-Persona-image-medium;
		line-height: $kai-size-Persona-image-medium;
		&.multiImageContainer{
			line-height: $kai-size-lineh-multi-Persona-medium;
		}
		.icon{
			height: $kai-size-unknown-imageheight-medium;
			width: $kai-size-unknown-imagewidth-medium;
		}
	}
	.groupContainerOne, .groupContainerTwo, .groupContainerThree, .groupContainerFour{
		height: $kai-size-Persona-image-medium;
		width: $kai-size-Persona-image-medium;
	}

}

