.itemList {
    position: relative;
    margin-top: 1px;
    background-color: white;
    border-radius: 6px;
    color: black;
    //height: 48px;
    width: 240px;
    display: flex;
    flex-direction: row;
    left: 0%;

}

.active {
    background-color: #303030;
    color: white;
}

.itemListIcon {
    height: 40px;
}

.itemListPersonsMedium {
    height: 62px;
}

.itemListPersonaSmall {
    height: 48px;
}

.leftIcon {
    width: 32px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    align-items: flex-start;

    //width: auto;
}

.primaryText {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;

}

.iconPrimaryText {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.secondaryText {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    //position: relative;
    //right: 13px;
}