@import '../globals/tempVariable.scss';
@import '../globals//variables.scss';



.outerBoxUnfocused{
        display:flex;
        align-items: center;
        justify-content: center;
        width:$counter-width;
        height:$counter-height;
        background-color:$Neutrals_White_FFFFFF;
        border-radius: $counter-border-radius;
    }


.innerBoxUnfocused{
        width:$counter-inner-width;
        height:$counter-inner-height;
        color:$Neutrals_White_FFFFFF;
        font-style: $font-style;
        font-weight: $font-weight;
        font-size: $counter-font-size;
        display: flex;
        align-items: center;
        justify-content: center;
}
