@import '../../globals/variables.scss';
@import '../../globals/tempVariable.scss';

.radioButton{
  display:inline-block;
  border: nth($border_width,1)  solid $Neutrals_Mobile_Black_000000;
    height:$radioButton_height;
    width:$radioButton_width;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50%;
    position:relative;;

  input[type="radio"] {
    cursor: pointer;
    appearance: none;
    outline: 0;


   // border: nth($border_width,1)  solid $Neutrals_Mobile_Black_000000;
    height:$radioButton_height;
    width:$radioButton_width;
    box-sizing: border-box;
    border-radius: 50%;
  }

  input[type="radio"]:checked {
    position: absolute;
    background: $Communication_Blue_Comm_Primary_0078D4;
    border: nth($border_width,1)  solid $Communication_Blue_Comm_Primary_0078D4;
    height:$radioButtonInner_height;
    width:$radioButtonInner_width;
    right:-1.6px;
    top:-1.6px;
}

  input[type="radio"]:hover {
    filter: brightness(90%);
  }

   input[type="radio"]:disabled {
    background: $radioButton_disable;
    border: nth($border_width,1)  solid $radioButton_disableTick;
    position:absolute;
    right:-4.5px;
    top:-4.5px;
    opacity: 0.6;
    pointer-events: none;
  }
}