@import '../../globals/variables.scss';
@import '../../globals/tempVariable.scss';

.checkBox{
  input[type="checkbox"] {
    cursor: pointer;

    appearance: none;
    outline: 0;
    border: nth($border_width,1)  solid $Neutrals_Mobile_Black_000000;
    height:$radioButton_height;
    width:$radioButton_width;
    box-sizing: border-box;
    border-radius: 50%;
  }

  input[type="checkbox"]:checked {
    background: $Communication_Blue_Comm_Primary_0078D4;
    border: nth($border_width,1)  solid $Communication_Blue_Comm_Primary_0078D4;
  }

  input[type="checkbox"]:hover {
    filter: brightness(90%);
  }

   input[type="checkbox"]:disabled {
    background: $radioButton_disable;
    border: nth($border_width,1)  solid $Neutrals_Mobile_Black_000000;
    opacity: 0.6;
    pointer-events: none;
  }

   input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
  }

   input[type="checkbox"]:checked:after {
    display: block;
  }

  input[type="checkbox"]:disabled:after {
    border-color:$radioButton_disableTick;
  }
}